{{#models}}

{{#model}}{{#description}}
/**
 * {{description}}
 **/{{/description}}
class {{classname}}: JsonModel{{#parent}}, {{{parent}}}{{/parent}} {
  {{#vars}}
  var {{name}}: {{{datatype}}}? = nil{{/vars}}
 
}
{{/model}}
{{/models}}
